<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지 메인</title>
  <script src="/js/admin/main.js"></script>
</head>
<body>
  <h1>관리자 페이지 메인</h1>
  <a href="/admin/topic">주제 관리 페이지</a><p/>
  <a href="/admin/member">멤버 관리 페이지</a><p/>
</body>
</html>