<link rel='stylesheet' href='/css/partials/part_profile.css' />
<a href="/profile" class="profile-part-link">
  <div class="profile-part-inner">
    <img src="{{profileImage}}" class="profile-part-img">
    <div class="profile-part-nickname">{{nickname}}</div>
  </div>
</a>