<html>
  <head>
    <meta charset='utf-8' />
    <title>실시간 토론 페이지</title>
    <script
      src='https://cdn.socket.io/4.4.0/socket.io.min.js'
      integrity='sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj'
      crossorigin='anonymous'
    ></script>  
    <link rel='stylesheet' href='/css/index.css' />
  </head>

  <body>
    {{!-- index.js파일에서 사용할 script선언 --}}
    <script>
      let isLogined = {{isLogined}};
      let nickname = "{{nickname}}";
      let userId = "{{userId}}";
    </script>

    {{!-- 상단 메뉴 --}}
    <div class="menu">
      <div class="div-ex-debatelist">
        <form class='form-ex-debatelist' action='/list'>
          <button type='submit' class='btn-ex-debatelist'>
            이전 리스트
          </button>
        </form>
      </div>

      <div class="div-title">
        <a class='title' href='#'>토론 사이트</a>
      </div>

      <div class="div-login">
        <form class='form-login expand' action='/auth'>
          <button type='submit' class='btn-login'>로그인</button>
        </form>
        <form class='form-logout expand' action='/auth/logout'>
          <button type='submit' class='btn-login'>로그아웃</button>
        </form>
      </div>
    </div>

    <!-- 주제 -->
    <div class='time-topic-div'>
      <div class='time'  id="topic-time">
      </div>
      <div class='topic'>
        주제 : {{topic.currentTopicName}}<br>
      </div>
    </div>

    <!-- 찬성반대투표바 -->
    <div class='age-dis-bar-wrapper'>
      <div class='agree-bar'>찬성:</div>
      <div class='disagree-bar'>반대:</div>

      <button class='bar-button agree-btn'>찬성</button>
      <button class='bar-button disagree-btn'>반대</button>
    </div>

    <!-- 실시간 토론 하는 곳 -->
    <div class='debate-wrapper'>
      <div class='debate-box'>
        <ul class='live-debate' id='messages'>

          <li class='agree'>
            <div class='nickname'>usernickname</div>
            <div
              class='user-opinion'
            >찬성의견안녕하세요요요용요요요요요요용요요요요</div>
            <div class='opinion-time'>오후 01:36</div>
          </li>

          <li class='disagree'>
            <div class='nickname'>usernickname</div>
            <div class='opinion-time'>오후 01:37</div>
            <div class='user-opinion'>반대의견</div>
          </li>
        </ul>
      </div>

      <div class='input-box'>
        <input id='message' class='opinion-input' type='text' />
        <button id='send' class='send' type='button'>전송</button>
      </div>
    </div>

    <script src='./js/index.js'></script>
  </body>
</html>