<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/login.css' />
    <title>로그인 페이지</title>
    <script>history.forward();</script>
  </head>
  <body>
    {{> header}}

    <form class='login-form' action="/auth/login/naver">
      <button class='login-btn naver'>
        <img src="css/naver.png">
        <p>네이버 로그인</p>
        </button>
    </form>

    <form class='login-form' action="/auth/login/kakao">
      <button class='login-btn kakao'>
        <img src='css/kakao.png' width='40px' height='40px' />
        <p>카카오 로그인</p>
      </button>
    </form>

    <form class='login-form' action="/auth/login/google">
      <button class='login-btn google'>
        <img src='css/google.png'/>
        <p>
        구글 로그인
        </p>
      </button>
    </form>

  </body>
</html>