<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/login.css' />
    <title>로그인 페이지</title>
    <script type="text/javascript">
      window.history.forward();
      function noBack(){window.history.forward();}
    </script>
  </head>
  <body>
    <div class="div-title">
        <a class='title' href='/'>
          <img src="/img/logo.png" alt="Debatalk" style="width: auto; height:auto; max-height: 200px; max-width: 200px;">
        </a>
    </div>

    <form class='login-form' action="/auth/login/naver">
      <button class='login-btn naver'>
        <img src="css/naver.png">
        <p>네이버 로그인</p>
        </button>
    </form>

    <form class='login-form' action="/auth/login/kakao">
      <button class='login-btn kakao'>
        <img src='css/kakao.png' width='40px' height='40px' />
        <p>카카오 로그인</p>
      </button>
    </form>

    <form class='login-form' action="/auth/login/google">
      <button class='login-btn google'>
        <img src='css/google.png'/>
        <p>
        구글 로그인
        </p>
      </button>
    </form>

  </body>
</html>