<html>
  <head>
    <meta charset='utf-8' />
    <title>프로필 수정</title>
    <link rel='stylesheet' href='/css/index.css' />
    <link rel='stylesheet' href='/css/profile.css' />
    
    <script src="/js/profile.js"></script>
  </head>

  <body>

    {{!-- 상단 메뉴 --}}
    {{> header}}

    <div class="flexbox">
      <div class="profile-container">
        <h1 class="profile-title">프로필 수정</h1>
        <form id="edit-form">
          <div class="profile-items profile-image-nickname"> 
            <aside class="aside">
              <img class="profile-image" src="{{profileImage}}">
            </aside>
            <div class="content nickname">
              <h3>닉네임</h3>
              <input type="text" id="nickname" name="nickname" value="{{nickname}}">
              <div id="checkMessage">사용 가능한 닉네임 입니다.</div>
            </div>
          </div>
          <div class="profile-items">
            <aside class="aside"><h2>이메일</h2></aside>
            <div class="content email">
              <input type="text" value="{{email}}" readonly>
              <br>이메일 수정은 지원하지 않습니다.
            </div>
          </div>
          <input type="submit" id="submit" value="수정">
          <input type="button" id="cancel"value="취소" onclick="location.href='/'">
          <input type="button" id="logout" value="로그아웃" onclick="logout()">
        </form>
      </div>
    </div>
  </body>
</html>