<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>닉네임 입력 페이지</title>
</head>
<body>
  {{!-- TODO : 닉네임 중복 확인 후 데이터베이스 전송 --}}
  <form action="/auth/register" method="post">
    <input type="text" name="nickname">
    <input type="submit" value="확인">
  </form>
</body>
</html>