@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0px;
}

body{
  margin: 0px;
  background-color: rgb(224, 229, 236);
  font-family: Cafe24Ssurround;
}

/* 게시판 */
.topic-list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}


/*페이지 이동*/
.page-item{
  background-color: rgb(224, 229, 236);;
}

/*노트북&데스크탑*/
@media (min-width: 992px) {
  .topic-list {
    width: 60%;
  }
}
