@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0px;
}

body{
  margin: 0px;
  background-color: rgb(224, 229, 236);
  font-family: Cafe24Ssurround;
}

/* 상단 메뉴바 */
.menu{
  width: 90%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(224, 229, 236);
  box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px, rgb(255, 255, 255) -2px -2px 4px 0px;
  border-radius: 15px;
}

/* 이전 리스트 버튼 */
.div-ex-debatelist{
}

.btn-ex-debatelist{
  border: none;
  padding: 15px 15px;
  font-size: 20px;
  background-color: rgb(224, 229, 236);
  box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px, rgb(255, 255, 255) -2px -2px 4px 0px;
  border-radius: 15px;
  font-family: Cafe24Ssurround;
}

.btn-ex-debatelist:hover{
  box-shadow: rgba(163, 177, 198, 0.5) 1px 1px 2px 0px, rgb(255, 255, 255) -1px -1px 2px 0px;
  border-radius: 15px;
}

.btn-ex-debatelist:active{
  box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px inset, rgb(255, 255, 255) -2px -2px 4px 0px inset;
  border-radius: 15px;
}

/* 사이트 로고 */
.div-title{
  text-align: center;
}
.title{
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: black;

}

/* 로그인 버튼 */
.div-login{
  text-align: right;
}
.btn-login{
  border: none;
  font-size: 20px;
  padding: 15px 15px;
  background-color: rgb(224, 229, 236);
  box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px, rgb(255, 255, 255) -2px -2px 4px 0px;
  border-radius: 15px;
  font-family: Cafe24Ssurround;
}

.btn-login:hover{
  box-shadow: rgba(163, 177, 198, 0.5) 1px 1px 2px 0px, rgb(255, 255, 255) -1px -1px 2px 0px;
  border-radius: 15px;
}

.btn-login:active{
  box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px inset, rgb(255, 255, 255) -2px -2px 4px 0px inset;
  border-radius: 15px;
}



/*중간 토론 주제*/
.time-topic-div {
  margin-top: 10px;
  width: 90%;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  height: auto;
  background-color: rgb(224, 229, 236);
  box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px, rgb(255, 255, 255) -2px -2px 4px 0px;
  border-radius: 15px;
  padding: 5px 0px;
}

.time {
  font-size: x-small;
  margin-bottom: 10px;
}

.topic {
  font-size: 30px;
}

/* 찬성반대바 */
.age-dis-bar-wrapper {
  width: 90%;
  background-color: transparent;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.agree-bar {
  width: 50%;
  float: left;
  background-color: #4aa8d8;
  color: white;
  text-align: center;
  border-radius: 7px 0px 0px 7px;
  height: 26px;
  line-height: 26px;
  margin-bottom: 5px;
}

.agree-bar span{
  vertical-align: middle;
}

.disagree-bar {
  width: 50%;
  float: left;
  background-color: #ff4040;
  color: white;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
  height: 26px;
  line-height: 26px;
}

/* 찬성반대버튼*/
.btn-group{
  display: inline;
}

.bar-button {
  width: 50%;
  border-radius: 7px;
}

.agree-btn {
  float: left;
  border: none;
  background-color: #4aa8d8;
  height: 26px;
}

.disagree-btn {
  float: left;
  border: none;
  background-color: #ff4040;
  height: 26px;
}

/* 실시간 토론 상자 */
.debate-wrapper {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 90%;
  height: 70vh;
  background-color: transparent;
  border-radius: 7px;
  padding-top: 10px;
  background-color: white;
  border-radius: 15px;
  padding-bottom: 5px;
}

.debate-wrapper ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: auto;
  height: 90%;
  padding-bottom: 5px;
}

.debate-wrapper ::-webkit-scrollbar {
  background-color: #adacac;
  width: 10px;
  border-radius: 5px;
}

.debate-wrapper ::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

.nickname {
  font-size: x-small;
  margin-bottom: 5px;
  font-family: none;
}

.user-opinion {
  padding: 5px;
  width: fit-content;
  max-width: 70%;
  display: inline-flex;
  border-radius: 7px;
  font-size: 13px;
  background-color: rgb(224, 229, 236);
  box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px, rgb(255, 255, 255) -2px -2px 4px 0px;
  border-radius: 5px;
  padding: 10px;
  font-family: none;
}

.opinion-time {
  display: inline-flex;
  vertical-align: bottom;
  font-size: x-small;
  font-family: none;
}

.agree {
  margin-left: 7px;
  margin-bottom: 5px;
}

.disagree {
  text-align: right;
  margin-right: 7px;
  margin-bottom: 5px;
}

.agree .nickname {
  margin-left: 7px;
}

.disagree .nickname {
  margin-right: 7px;
}

.disagree .user-opinion {
  margin-left: auto;
  margin-right: 0px;
}

.input-box{
  display: flex;
  height: 10%;
}

.opinion-input {
  width: 80%;
  border-radius: 7px;
  word-break: break-all;
  margin: 0px;
  border: black solid 1px;
}

.send {
  width: 20%;
  border-radius: 7px;
  border: none;
  font-family: 'Cafe24Ssurround';
  background-color: rgb(224, 229, 236);
  box-shadow: rgba(163, 177, 198, 0.5) 2px 2px 4px 0px, rgb(255, 255, 255) -2px -2px 4px 0px;
  font-size: 20px;
}

/*휴대폰*/
@media (min-width: 576px) {
}

/*태블릿*/
@media (min-width: 768px) {
}

/*노트북&데스크탑*/
@media (min-width: 992px) {
  .time-topic-div {
    width: 60%;
  }
  .age-dis-bar-wrapper {
    width: 60%;
    height: 40px;
  }
  .agree-bar{
    height: 40px;
    line-height: 40px;
  }
  .disagree-bar{
    height: 40px;
    line-height: 40px;
  }
  .agree-btn{
    height: 40px;
  }
  .disagree-btn{
    height: 40px;
  }
  .debate-wrapper {
    width: 60%;
    height: 75vh;
  }
}
