@font-face {
  font-family: 'new';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0px;
}

body{
  margin: 0px;
  background-color: aliceblue;
  font-family: new;
}


/*중간 토론 주제*/
.time-topic-div {
  margin-top: 10px;
  width: 90%;
  background-color: antiquewhite;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  height: auto;
  border-radius: 5px;
  padding-top: 5px;
}

.time {
  font-size: x-small;
  margin-bottom: 10px;
  font-weight: bold;
}

.topic {
  font-size: 30px;
  font-weight: bold;
}

/* 찬성반대바 */
.age-dis-bar-wrapper {
  width: 95%;
  background-color: transparent;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.agree-bar {
  width: 50%;
  float: left;
  background-color: #4aa8d8;
  color: white;
  text-align: center;
  border-radius: 7px 0px 0px 7px;
  height: 26px;
  line-height: 26px;
  margin-bottom: 5px;
}

.agree-bar span{
  vertical-align: middle;
}

.disagree-bar {
  width: 50%;
  float: left;
  background-color: #ff4040;
  color: white;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
  height: 26px;
  line-height: 26px;
}

/* 찬성반대버튼*/
.btn-group{
  display: inline;
}

.bar-button {
  width: 50%;
  border-radius: 7px;
}

.agree-btn {
  float: left;
  border: none;
  background-color: #4aa8d8;
  height: 26px;
}

.disagree-btn {
  float: left;
  border: none;
  background-color: #ff4040;
  height: 26px;
}

.main{
  display: flex;
}

.first-ad{
 display: none;
}

.second-ad{
  display: none;
}

/* 실시간 토론 상자 */
.debate-wrapper {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 90%;
  height: 70vh;
  background-color: transparent;
  padding-top: 10px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.debate-wrapper ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: auto;
  height: 90%;
  padding-bottom: 5px;
}

.debate-wrapper ::-webkit-scrollbar {
  background-color: #adacac;
  width: 10px;
  border-radius: 5px;
}

.debate-wrapper ::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

.nickname {
  font-size: x-small;
  margin-bottom: 1px;
  font-family: none;
}

.user-opinion {
  padding: 5px;
  width: fit-content;
  max-width: 70%;
  display: inline-flex;
  border-radius: 7px;
  font-size: 13px;
  border-radius: 5px;
  padding: 10px;
  font-family: none;
}

.opinion-time {
  display: inline-flex;
  vertical-align: bottom;
  font-size: x-small;
  font-family: none;
}

.agree {
  margin-left: 7px;
  margin-bottom: 5px;
}

.disagree {
  text-align: right;
  margin-right: 7px;
  margin-bottom: 5px;
}

.agree .nickname {
  margin-left: 7px;
}

.disagree .nickname {
  margin-right: 7px;
}

.agree .user-opinion{
  background-color: #E8F5FF;
}

.disagree .user-opinion {
  margin-left: auto;
  margin-right: 0px;
  background-color: FF8C8C;
}

.input-box{
  display: flex;
  height: 10%;
}

.opinion-input {
  width: 80%;
  border-radius: 7px;
  word-break: break-all;
  margin: 0px;
  border: 1px #868e96 solid;
  resize: none;
  padding: 10px;
}

.opinion-input:focus{
  outline: none;
  border: 2px #868e96 solid;
}

.send {
  width: 20%;
  border-radius: 7px;
  border: none;
  font-family: new;
  border: 1px #868e96 solid;
  font-size: 20px;
}

/*휴대폰*/
@media (min-width: 576px) {
}

/*태블릿*/
@media (min-width: 768px) {
  .first-ad{
    
  }
  .second-ad{
    
  }
}

/*노트북&데스크탑*/
@media (min-width: 992px) {
  .menu{
    width: 60%;
  }
  .time-topic-div {
    width: 60%;
  }
  .age-dis-bar-wrapper {
    width: 95%;
  }
  .agree-bar{
    height: 40px;
    line-height: 40px;
  }
  .disagree-bar{
    height: 40px;
    line-height: 40px;
  }
  .agree-btn{
    height: 40px;
  }
  .disagree-btn{
    height: 40px;
  }
  .debate-wrapper {
    width: 60%;
    height: 75vh;
  }
}

@media (min-width: 1140px){
  .first-ad{
    display: flex;
    margin-top: 100px;
    border: solid 1px black;
    margin-left: auto;
    height: fit-content;
  }
  
  .second-ad{
    display: flex;
    margin-top: 100px;
    border: solid 1px black;
    margin-right: auto;
    height: fit-content;
  }
}
