@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0px;
}

body{
  margin: 0px;
  background-color: beige;
  font-family: Cafe24Ssurround;
}

/*로그인 버튼 모음*/
.login-form {
  text-align: center;
}

.login-btn {
  width: 50%;
  height: 60px;
  border: none;
  border-radius: 5px;
  line-height: 50px;
  padding: 0px;
  text-align: center;
}

.naver {
  margin-top: 10px;
  background-color: #03C75A;
  color: white;
  font-weight: bold;
  margin-top: 50px;
}

.naver img{
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.naver p{
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}

.kakao {
  background-color: #FEE500;
  color: #000000 85%;
  font-weight: bold;
  margin-top: 10px;
}

.kakao img {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.kakao p{
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}


.google {
  margin-top: 10px;
  font-weight: bold;
  background-color: #FFFFFF;
  border: 2px #e9ecef solid;
}

.google img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.google p{
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}

@media (min-width: 992px) {
  .login-btn {
    width: 30%;
  }
}
